
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  flex-basis: calc(33.33% - 40px);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 4px 15px 25px #ccc;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 60%;
}

.box {
  padding: 20px;
  border: 4px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgray;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.card .name {
  font-size: 20px;
  color: #555;
}

.card .price {
  font-size: 20px;
  color: #555;
}

.add-to-cart {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #0074D9;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #005dc5;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  .cart-btn {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid #0074D9;
  padding: 10px 20px;
  background-color: #0074D9;
  color: #fff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  }

  .cart-btn i {
  font-size: 24px;
  }

  .cart-sidebar {
  position: fixed;
  top: 0;
  left: -400px;
  bottom: 0;
  width: 400px;
  background-color: #fff;
  box-shadow: 4px 4px 15px #ccc;
  overflow: auto;
  transition: left 0.2s ease-in-out;
  }

  #cart-toggle:checked~.cart-sidebar {
  left: 0;
  }

  .cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid #ccc;
  }

  .cart-header i {
  font-size: 24px;
  }

  .cart-header h3 {
  font-size: 24px;
  margin: 0;
  }

  .close-btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  }

  .cart-body {
  padding: 20px;
  font-size: 20px;

  }

  input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  }

  .cart-btn:hover {
  background-color: #7da4da;
  cursor: pointer;
  }

  .close-btn:hover {
  background-color: rgba(181, 174, 174, 0.494);
  cursor: pointer;
  }

  img {
  width: 50%;
  height: 50%;
  }

  input[type="text"] {
  width: 50%;
  height: 35px;
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }

  .delete {
  padding: 10px 20px;
  background-color:red;
  color: black;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  }

  .delete:hover {
  background-color: rgba(255, 0, 0, 0.47);
  color: black;
  }

.checkout-btn {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  cursor: pointer;
  margin: 0 auto;
}

.checkout-btn:hover {
  background-color: rgba(11, 158, 6, 0.565);
  color: #fff;
}

.cart-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}
.container2 input{
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #333;
  margin-bottom: 15px;
}


